<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="5">
    <properties>
        <property name="LOG_HOME" value="/Users/jameszhang/logs"/>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{3}:%L - %msg%n"/>
        </Console>
        <File name="File" fileName="${LOG_HOME}/lemon.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{3}:%L - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="org.apache.logging.log4j" level="ERROR" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="com.bitsoft.lemon" level="INFO" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>